{% extends "layout.html" %}
{% block title %}Don't Focus on Hate{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Browser Extension</h1>
    <hr>
    <div class="album py-5 bg-light" style = "padding: 2em;">
      <div class="container">
        <div class="row">
          <h4>Example Use</h4>
          <div class="table-responsive table-striped">
            <table class="table">
              <thead>
                <tr>
                  <th>Text</th>
                  <th>LR Score</th>
                  <th>RFR Score</th>
                  <th>MNB Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>I love you</td>
                  <td>0.012</td>
                  <td>?</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <td>I fucking love the shit out of you</td>
                  <td>0.607</td>
                  <td>?</td>
                  <td>0.01</td>
                </tr>
                <tr>
                  <td>My favorite roller skating move is called shoot the duck</td>
                  <td>0.022</td>
                  <td>?</td>
                  <td>0.00</td>                  
                </tr>       
                <tr>
                  <td>Mexican food is delicious</td>
                  <td>0.027</td>
                  <td>?</td>
                  <td>0.00</td>                  
                </tr>
                <tr>
                  <td>I just took a DNA test, turns out I'm 100% that bitch</td>
                  <td>0.076</td>
                  <td>?</td>
                  <td>0.00</td>                  
                </tr>
                <tr>
                  <td>You look fucking fabulous, you magnificent hot-ass bitch</td>
                  <td>0.277</td>
                  <td>?</td>
                  <td>0.00</td>                  
                </tr> 
                <tr>
                  <td>The former president is a fat idiot who should rot in prison</td>
                  <td>0.05</td>
                  <td>?</td>
                  <td>0.00</td>                  
                </tr>        
                <tr>
                  <td>I'm gonna fucking shoot you in the face</td>
                  <td>0.54</td>
                  <td>?</td>
                  <td>0.00</td>                  
                </tr>     
                <tr>
                  <td>Yeah, you fucking with some wet ass pussy<br>
                    Bring a bucket and a mop for this wet ass pussy<br>
                    Give me everything you got for this wet ass pussy<br>
                    Beat it up, nigga, catch a charge</td>
                  <td>0.277</td>
                  <td>?</td>
                  <td>0.00</td>                  
                </tr>
                
                <tr>
                  <td>fuck die shit cock nigger dyke</td>
                  <td>0.968</td>
                  <td>?</td>
                  <td>0.08</td>                  
                </tr>                      

              </tbody>                        
            </table>
          </div>
        </div>
      </div>
    </div>

    
    <p>
      <a href="/" class="btn btn-primary my-2" style = "background-color: #7fd9e2; border: 1px solid #7fd9e2;">
        Start
      </a>
      {% if next %}
        <a href="{{ next }}" target="_blank" class="btn btn-secondary my-2" style = " background-color: #3f0097;
          border: 1px solid #3f0097;">Next
        </a>
      {% endif %}
    </p>
  </div>
</section>

  </div>
</section>



  
{% endblock %}