{% extends "layout.html" %}
{% block title %}Don't Focus on Hate{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Models</h1>

    <hr>
    <div class="album py-5 bg-light" style = "padding: 2em;">
      <div class="container">
        <div class="row">
          <h3>Models and Scores</h3>

          <div class="table-responsive table-striped">
            <table class="table">
              <thead>
                <tr>
                  <th>Model</th>
                  <th>Train</th>
                  <th>Test</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>LogisticRegression</td>
                  <td>0.99</td>
                  <td>0.99</td>
                  <td>False positive with obscenity-laden flattery. Otherwise great.</td>
                </tr>
                <tr>
                  <td>RandomForestRegressor</td>
                  <td>X</td>
                  <td>X</td>
                  <td>Takes a very long time to run</td>
                </tr>
                <tr>
                  <td>MultinomialNB</td>
                  <td>0.98</td>
                  <td>0.98</td>
                  <td>Informal testing shows surprisingly low scores for very hateful language.</td>
                </tr>
              </tbody>                        
            </table>
          </div>
        </div>
      </div>
    </div>

    
    <p>
      <a href="/" class="btn btn-primary my-2" style = "background-color: #7fd9e2; border: 1px solid #7fd9e2;">
        Start
      </a>
      {% if next %}
        <a href="{{ next }}" target="_blank" class="btn btn-secondary my-2" style = " background-color: #3f0097;
          border: 1px solid #3f0097;">Next
        </a>
      {% endif %}
    </p>
  </div>
</section>

  </div>
</section>



  
{% endblock %}